.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 680px;
}

@media (min-width: 700px) {
  .container {
    margin: 20px auto;
  }
}

.post_card {
  width: 100%;
  margin-bottom: 40px;
}

.post_link {
  display: block;
}

.post_title {
  margin: 0;
  font-size: 24px;
  word-wrap: break-word;
}

.post_metadata {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  color: #757575;
}